
                    </div>
               </div>
            </div>
        </div>
    </div>

    
    <!-- boostrap bundle js -->
    <script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">
        const menuBarBtn = document.getElementById("menuBarBtn")
        const sidebar = document.getElementById("sidebar")
        const mySpinner = document.getElementById("mySpinner")

        menuBarBtn.onclick = () => {
        sidebar.classList.toggle("active")
    }

    $(document).ready(() => {
        $("#mySpinner").addClass("d-none")
    })

    

    </script>

</body>
</html>