<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap min css -->
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <!-- fontawesome min css -->
    <link rel="stylesheet" href="/libs/@fortawesome/fontawesome-free/css/all.min.css">

    <!-- custom css -->
    <link rel="stylesheet" href="/static/css/style.css">

    <title><%= title %></title>
</head>
<body>
    <div class="alert alert-warning text-center mb-0">
        <p class="mb-0">Github'ta incelemek için <a href="https://github.com/newsoft5/nodejs-movie-project">tıklayınız</a></p>
    </div>