<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-film"></i> Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- navbar-nav left -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/arsiv">Arşiv</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Kategoriler
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% categories.forEach(category => { %>
                <li><a class="dropdown-item" href="/kategori/<%= category.slug %>"><%= category.name %></a></li>
              <% }) %>
            </ul>
          </li>
        </ul>

        <!-- navbar-nav right -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <% if (isAdmin) { %>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
            </li>
          <% } %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if (isAuth) { %>
                <li><a class="dropdown-item" href="/profilim">Profilim</a></li>
                <li>
                  <a 
                      class="dropdown-item" 
                      onclick="event.preventDefault(); document.getElementById('logoutForm').submit();" 
                      href="/logout">
                          Çıkış yap
                  </a>
                </li>
                <form action="/cikis-yap" id="logoutForm" method="POST" class="d-none">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
              <% }else{ %>
                <li><a class="dropdown-item" href="/giris-yap">Giriş yap</a></li>
                <li><a class="dropdown-item" href="/kayit-ol">Kayıt ol</a></li>
              <% } %>
            </ul>
          </li>
        </ul>
        
        <!-- navbar form -->
        <!-- <form action="/search" class="d-flex">
          <input class="form-control me-2" name="query" id="query" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark" type="submit">Search</button>
        </form> -->
      </div>
    </div>
</nav>