@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
}

footer{
    position: sticky;
    top: 100%;
    margin-top: 90px;
}

.movie-detail div{
    font-size: 17px !important;
}

.movie-detail div span.movie-detail-span{
    display: inline-block !important;
    font-weight: bold !important;
    width: 140px !important;
    margin-bottom: 5px
}

